<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mrpinghe.android.holonote"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    
    <uses-sdk android:minSdkVersion="14" />

    <application android:icon="@drawable/ic_launcher" android:logo="@drawable/ic_launcher" android:label="@string/app_name_display">
        <activity android:name=".activities.ListNoteActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.EditNoteActivity"/>
        <activity android:name=".activities.ViewNoteActivity"/>
        <activity android:name=".activities.PreferenceActivity"/>
        <receiver android:name=".receivers.AlarmReceiver" android:process=":holoNoteAutobackup"></receiver>
    </application>

</manifest>